footer
{
    background: #f2f2f2;
    display: flex;
    justify-content: space-around;
}

.firstfooter
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.secondfooter
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thirdfooter
{
    display: flex;
    flex-direction: column;
    align-items: left;
}