@font-face {
    font-family: 'raleway';
    src: url(raleway/static/Raleway-Medium.ttf)  ;
}

h2 {
    font-size: 20px;
}

    /* navigation */
nav {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 40px;
}

nav img {
    width: 100px;
    height: 50px;
    padding-left: 30px;
    padding-top: 20px;
}


ul {
    list-style-type: none;
    display: flex;
    padding-top: 20px;
}

ul li {
    padding-right: 60px;
}

li a {
    text-decoration: none;
}

li a:visited {
    color: black;
}

li a:hover {
    color:#0065fc;
}

    /* fin navigation */

    /* debut header */
header {
    padding-top: 20px;
    padding-left: 50px;
}

h1 {
    font-size: 1.4em;
}

form {
    display: flex;
}

.fa-location-dot {
    background-color: #f2f2f2;
    padding: 13px 14px 13px 18px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.recherche {
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.marseille {
    font-weight: bold;
    border: none;
    padding-left: 10px;
    cursor: pointer;
}

.filtres {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 25px;
}

.filtres a {
    text-decoration: none;
    color: black;
    border: solid 3px #f2f2f2;
    border-radius: 60px;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 40px;
}

.filtres a:hover {
    color: #0065fc;
    background-color: aliceblue;
    outline: solid;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065fc;
    background-color: #DEEBFF;
    padding: 18.5px 16.5px 18.5px 16.5px;
    border-radius: 100%;
}

.infologement {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.fa-circle-info {
    background-color: #0065fc;
    color: white;
    border-radius: 100%;
    border: solid 2px #f2f2f2;
    margin-right: 10px;
    font-size: x-large;
}

    /* fin header */

    /* body */
body {
    font-family: 'raleway', 'sans-serif';
}
    /* fin body */

    /* article container1 + 2 + content 3 4 */
.containers {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: small;
}

.containers h2 {
    padding-left: 40px;
}

.container1 figcaption {
    padding-left: 10px;
}

.afficherplus {
    padding-left: 40px;
    padding-bottom: 20px;
    text-decoration: none;
}

.fa-star {
    color: #0065fc;
}

.grey {
    color: #d8d6d6;
}

    /* container 1 + 2 */
.container1 {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 1000px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    padding: 0 20px 20px 0;
    background-color: #f2f2f2;
    border-radius: 20px;
}

    /* container1 section + figure */
.container1 section {
    display: flex;
    justify-content: space-around;
}

.container1 figure {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 220px;
    border: solid white 4px;
}


    /* container2 section + figure */

/* container2 populaire + fleche */
.container2 section {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line {
    font-size: x-large;
    padding-top: 26px;
    padding-right: 6px;
}

.container2 figure {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    width: 350px;
    height: 150px;
    border: solid white 4px;
}

.container2 figcaption {
    margin-left: 40px;
}

.container2 figure .fa-solid {
    padding-top: 30px;
}
/* fin container2 section + figure */

    /* images container 1 */
.container1 img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


    /* images container 2 */
.container2 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

    /* Article Activités  */
.activitesM {
    margin-top: 50px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.activitesM h2 {
    padding-left: 40px;
}

.activitesM section {
    display: flex;
}

.secondact {
    display: flex;
    flex-direction: column;
    margin-left: -30px;
}

.activitesM figure {
    box-shadow: 0 1px 2px 1px rgb(207, 201, 201);
    border-radius: 22px;
    text-align: center;
    font-size: 14px;
}


    /* Article activités _ images */
.vieuxport {
    width: 300px;
    height: 360px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pomegue {
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.frioul {
    width: 300px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.calanques {
    width: 300px;
    height: 360px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.notredame {
    width: 300px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.longchamp {
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
    /*fin Article _ images*/


    /* footer */
footer {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding-right: 400px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    height: 180px;
    font-size: medium;
}

footer section {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    padding-bottom: 10px;
}

footer a:visited {
    color: black;
}

footer a:hover {
    color: #0065fc;
}
    /* fin footer */



    /* Media Queries */

@media screen and (max-width: 1098px) {
    .filtres {
        display: inline-block;
    }

    .filtres a {
        display: inline-block;
    }
}



/* Format tablette 992px */
@media screen and (max-width: 992px) {

/* Filtre  */
    .filtres {
        display: inline-block;
    }

    .filtres a {
        display: inline-block;
        margin-top: 20px;
        margin-left: 0px;
    }
/* Fin filtre */

    /* Article _ Les plus populaires + Hébergements */
    .containers {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .container1 {
        max-width: 99%;
    }
    
    .container2 {
        width: 97%;
        margin-bottom: 10px;
    }

    .container2 h2 {
        font-size:  xxx-large;
    }
    
    .container2 .fa-chart-line {
        font-size: xxx-large;
        padding-right: 3%;
        margin-top: 2%;
    }
    
    .container2 figure {
        margin-left: 20%;
        padding-right: 25%;
        width: 350px;
        height: 190px;
    }
    
    .container2 img {
        object-fit: cover;
        width: 180px;
        height: 190px;
    }
/* Fin Article _ Les plus populaires + Hébergements */

    /* Article Activités à Marseille */
    .activitesM h2 {
        padding-left: 20%;
        font-size:  xxx-large;
        padding-top: 20px;
    }
    
    .activitesM section {
        display: flex;
        flex-direction: column;
        width: 97%;
    }
    
    .activitesM .secondact {
        width: 880px;
        margin-left: 1.1px;
    }
    
    .activitesM img {
        object-fit: cover;
        width: 100%;
        height: 360px;
    }
/* Fin Article Activités à Marseille */

    /* Footer */
    footer {
        font-size: 15px;
        padding-left: 6%;
        padding-right: 10%;
    }
/* Fin Footer */
}



/* Format téléphone 768px */
@media screen and (max-width: 768px) {
    /* Début Body */
    body {
        margin-left: -10px;
    }
    /* Fin Body */

    /* début Nav */
    nav {
        display: flex;
        flex-direction: column;
        border-bottom: #F2F2F2 solid 3px;
    }
    
    nav img {
        padding-left: 100px;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
    }
    
    nav a:active {
        padding-bottom: 15px;
        border-bottom: #0065fc solid 3px;
        color: blue;
    }
    /* Fin Nav */

    /* Début Article Hébergement */
    
    /* Les plus populaires */
    .container2 {
        border-radius: 0px;
    }
    
    .container2 h2 { 
        font-size: 20px;
        margin-left: -10px;
        padding-top: 10px;
    }
    
    .container2 .fa-chart-line {
        font-size: 20px;
        padding-top: 20px;
    }
    
    .container2 figure {
        width: 260px;
        height: 150px;
        margin-left: 20px;
    }
    
    .container2 img {
        object-fit: cover;
        width: 120%;
        height: 100%;
    }
    
    .container2 figcaption h3 {
        width: 150px;
        margin-right: -60px;
    }
    /* Fin Les plus populaires */

    /* Début Hébergements */
    .container1 {
        width: 500px;
        border-radius: 0px;
        margin-left: 2%;
        padding-right: 2%;
        background-color: white;
    }
    
    .container1 section {
        display: flex;
        flex-direction: column;
    }
    
    .container1 figure {
        box-shadow: #f2f2f2 2px 2px 4px 4px;
        margin-left: 10px;
        width: 95%;
        }
    /* Fin Hébergements */
    /* Fin Article Hébergements */

    /* Début Activités */
    .activitesM {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    
    .activitesM h2 {
        font-size: x-large;
        padding-left: 10px;
    }

    .activitesM figure {
        margin-left: -4px;
        width: 105%;
        height: 170px;
    }
    
    .activitesM img {
        height: 70%;
    }
    
    .activitesM .secondact {
        width: auto;
        height: auto;
    }
    /* Fin Activités */

    /* Début Footer */
    footer {
        display: flex;
        flex-direction: column;
        width: 88%;
        height: auto;
    }
    /* Fin Footer */
}
